h1 {
    text-align: center;
}

#p_one {
    color: red;
}

#p_two {
    color: blue;
}

#p_three {
    color: green;
}

#big {
    font-size: 40px;
}

#tiny {
    font-size: 10px;
}

#centered {
    text-align: center;
}

#bold {
    font-weight: bold;
}

#creative {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#bigOrangeBold {
    color: orange;
    font-size: 40px;
    font-weight: bold;
}

.styledFont {
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#styledImage {
    border: 5px solid orange;
}